<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Web_Suite">
  <test name="App">
    <classes>
       <class name="com.yogiyo.selenium.tests.AndroidWebDriver"/>
	    <methods>
        <include name="mobile_App" />
      </methods>
    </classes>
  </test>
    <test name="ChangeResultCode_mobile_App">
    <classes>
       <class name="com.yogiyo.selenium.tests.ChangeResultCodeWebDriver"/>
	    <methods>
        <include name="ChangeResultCode_Real" />
      </methods>
    </classes>
  </test>
  <test name="MobileWeb">
    <classes>
       <class name="com.yogiyo.selenium.tests.MobileWebWebDriver"/>
	    <methods>
        <include name="mobileWeb_Real" />
      </methods>
    </classes>
  </test>     
  <test name="ChangeResultCode_mobileWeb">
    <classes>
       <class name="com.yogiyo.selenium.tests.ChangeResultCodeWebDriver"/>
	    <methods>
        <include name="ChangeResultCode_Real" />
      </methods>
    </classes>
  </test> 
  <test name="DeskTopWeb">
    <classes>
       <class name="com.yogiyo.selenium.tests.DeskTopWebWebDriver"/>
	    <methods>
        <include name="Real_SMS_Relay" />
      </methods>
    </classes>
  </test>     
  <test name="ChangeResultCode_DeskTopWeb">
    <classes>
       <class name="com.yogiyo.selenium.tests.ChangeResultCodeWebDriver"/>
	    <methods>
        <include name="ChangeResultCode_Real" />
      </methods>
    </classes>
  </test> 
</suite>
